# Assignment_Regular Expressions

In [6]:
import re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [7]:
text = 'Python Exercises, PHP exercises.'
pattern = r'\s|\,|\.'
repl= ':'
re.sub(pattern,repl,text)

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [8]:
import pandas as pd
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [9]:
pattern = r'[^(a-z)]+'
repl= ' '
df['SUMMARY']=df['SUMMARY'].apply(lambda y: re.sub(pattern,repl,y))
df

           SUMMARY
0     hello world
1             test
2   four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [10]:
def check (text):
    pat=re.compile(r'\b\w{4,}\b')
    if pat.findall(text):
        print('Match found : ',pat.findall(text))
    else:
        print('No match found')

In [11]:
check('There are four pens and three boxes in the cupboard')

Match found :  ['There', 'four', 'pens', 'three', 'boxes', 'cupboard']

In [12]:
check('It is a pen in a box')

No match found

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [13]:
def check1 (text):
    pat=re.compile(r'\b\w{3}\b|\b\w{4}\b|\b\w{5}\b')
    if pat.findall(text):
        print('Match found : ',pat.findall(text))
    else:
        print('No match found')

In [14]:
check1('This is to notify that the data is in complex words')

Match found :  ['This', 'that', 'the', 'data', 'words']

In [15]:
check1('It is a')

No match found

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [16]:
def remove (text):
    rem=re.compile('\(|\)')
    rem.sub('',text)
    if rem.sub('',text):
        print('Pattern removed : ',rem.sub('',text))
    else:
        print('No pattern detected')

In [17]:
remove('example.(com)')

Pattern removed :  example.com

In [18]:
remove("example (.com), hr@fliprobo (.com), github (.com), Hello (Data Science World), Data (Scientist)")

Pattern removed :  example .com, hr@fliprobo .com, github .com, Hello Data Science World, Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [19]:
# converting the list to single text 
sample_list=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
sample_text=','.join(sample_list)
sample_text

'example (.com),hr@fliprobo (.com),github (.com),Hello (Data Science World),Data (Scientist)'

In [20]:
re.sub('\(.*?\)',' ',sample_text)

'example  ,hr@fliprobo  ,github  ,Hello  ,Data  '

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [21]:
text= 'ImportanceOfRegularExpressionsInPython'
text

'ImportanceOfRegularExpressionsInPython'

In [22]:
re.split('(?=[A-Z])',text)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [23]:
def space (text):
    patt=re.compile('(?=[\d])')
    if patt.split(text):
        print('String is split to : ',patt.split(text))
    else:
        print('No split occured')

In [24]:
space ("RegularExpression1IsAn2ImportantTopic3InPython")

String is split to :  ['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [25]:
def space1(text):
    pat=re.compile(r'(?=[A-Z]|\d)')
    if pat.sub(' ',text):
        print('String is split to : ',pat.sub(' ',text))
    else:
        print('No split occured')

In [26]:
space1('RegularExpression1IsAn2ImportantTopic3InPython')

String is split to :   Regular Expression 1 Is An 2 Important Topic 3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [27]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [28]:
pattern='^(\w{6})'
df['first_five_letters']=df['Country'].str.extract(pattern)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

In [29]:
def find (text):
    res = re.findall(r'(^[a-zA-Z0-9_]+?)',text)
    if res:
        print('Match found: ', res)
    else:
        print('Match not found')

In [30]:
find('Today"s code is March987_65 and not March@987_65 or March98765')

Match found:  ['T']

Question 12- Write a Python program where a string will start with a specific number.

In [31]:
def start (text):
    res = re.findall(r'(^5)',text)
    if res:
        print('Match found: ', res)
    else:
        print('Match not found')

In [32]:
start('5 oranges are in the basket')

Match found:  ['5']

In [33]:
start('basket has 5 oranges')

Match not found

Question 13- Write a Python program to remove leading zeros from an IP address

In [34]:
def clean(text):
    res =re.sub(r'(?:(0+))','',text)
    if res:
        print('Leading zeros removed. Valid IP address : ', res)
    else:
        print('Not removed')

In [35]:
clean('192.168.001.001')

Leading zeros removed. Valid IP address :  192.168.1.1

In [36]:
clean('001.002.003.004')

Leading zeros removed. Valid IP address :  1.2.3.4

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [37]:
text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'

In [38]:
re.findall(r'August \d+[a-z]+? \d{4}',text)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 

Searched words : 'fox', 'dog', 'horse'

In [39]:
text='The quick brown fox jumps over the lazy dog.'
pattern='fox|dog|horse'
re.findall(pattern,text)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs.

Searched words : 'fox'

In [40]:
text='The quick brown fox jumps over the lazy dog.'
pattern='fox'
res =re.search(pattern,text)
res

In [41]:
res.span()

(16, 19)

The matched word starts at position 16 and ends at 19 within the given string.

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [42]:
text='Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
re.findall(pattern,text)

['exercises', 'exercises', 'exercises']

In [43]:
text='Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
res=re.finditer(pattern,text)
for match in res:
    print('Match found: ',match)

Match found:  <re.Match object; span=(7, 16), match='exercises'>
Match found:  <re.Match object; span=(22, 31), match='exercises'>
Match found:  <re.Match object; span=(36, 45), match='exercises'>

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [44]:
text='I like to write stories. I like to write essays as well. Do you write any stories?'
res=re.finditer('stories',text)
for match in res:
    if res:
        print('Match : ', match, '\n Position of the match: ' ,match.start())
    else:
        print('No match')

Match :  <re.Match object; span=(16, 23), match='stories'>
 Position of the match:  16
Match :  <re.Match object; span=(74, 81), match='stories'>
 Position of the match:  74

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [45]:
text='You have to attend exams on 2024-2-29 and 2024-11-5'
pattern=r'(\d{4})-(\d{1,2})-(\d{1,2})'
repl=r'\3-\2-\1'
re.sub(pattern,repl,text)
#re.findall(pattern,text)

'You have to attend exams on 29-2-2024 and 5-11-2024'

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"  
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [46]:
text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def decimal(text):
    res=re.compile('(\d+\.\d{1,2})(?= |$)')
    if res.findall(text):
        print('Decimal numbers matched: ', res.findall(text))
    else:
        print('Decimals not matched')

In [47]:
decimal("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

Decimal numbers matched:  ['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [48]:
text='There are 5 mangoes, 13 oranges and 129 cherries in the box'
result=re.finditer('\d+',text)
for res in result:
    print('Match found: ', res)
    print('Location of match: ', res.start())

Match found:  <re.Match object; span=(10, 11), match='5'>
Location of match:  10
Match found:  <re.Match object; span=(21, 23), match='13'>
Location of match:  21
Match found:  <re.Match object; span=(36, 39), match='129'>
Location of match:  36

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'  
Expected Output: 950

In [49]:
text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result = re.findall('\d{3}',text)
result

['947', '896', '926', '524', '734', '950', '642']

In [50]:
result=list(result)
type(result)

list

In [51]:
for res in result:
    res=int(res)
    print(res)

947
896
926
524
734
950
642

In [52]:
result

['947', '896', '926', '524', '734', '950', '642']

In [53]:
for res in result:
    if res == max(result):
        print('Maximum value is: ',max(result))

Maximum value is:  950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"  
Expected Output: Regular Expression Is An Important Topic In Python

In [54]:
def spaces(text):
    sp = re.sub(r'(?=[A-Z])',' ',text)
    if sp:
        print(sp)
    else:
        print('No space added')

In [55]:
spaces('RegularExpressionIsAnImportantTopicInPython')

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [56]:
text='An ideal Team consist of hardworking Groups of People'
pat='[A-Z][a-z]+'
re.findall(pat,text)

['An', 'Team', 'Groups', 'People']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"  
Expected Output: Hello hello world

In [57]:
text='Hello hello world world'
pat= r'(\w+)(\W+\1)+'
re.sub(pat,r'\1',text)

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [58]:
def validity(string):
    pat= r' [a-zA-Z0-9]+(?=\.)'
    res= re.findall(pat,string)
    if res:
        print('User_id accepted: ',res)
    else:
        print('Invalid User_id')

In [59]:
validity('There is a festival in Kochi#1.')

Invalid User_id

In [60]:
validity('It started on January2024.')

User_id accepted:  [' January2024']

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""  
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [61]:
pat='(#\w+)'
text='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo'

In [62]:
re.findall(pat,text)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"  
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [63]:
pat='(<U\+.*>)'
text='@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders'

In [64]:
re.sub(pat,'',text)

'@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.  
Note- Store this sample text in the file and then extract dates.

In [65]:
text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
path='Ron.txt'
if text:
    with open(path,'w') as file:
        file.write(text)
    print('Text is stored in file as: ',path)
else:
    print('Text not stored in file')

Text is stored in file as:  Ron.txt

In [66]:
with open(path,'r') as file:
    read_ron=file.read() 
read_ron

'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

In [67]:
pat= r'\d{2}-\d{2}-\d{4}'
res= re.findall(pat,read_ron)
res

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [68]:
text='The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly'
pat=r'(\b\w{2,4}\b)+'
re.sub(pat,'',text)

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly'